{% extends 'base.html' %}
{% block title %}
Game Page
{% endblock %}
{% block content %}
    <div class="board-container">
        <div class="board">
            <div class="row1">
                <div class = "cell" id = "cell1">A</div>
                <div class = "cell" id = "cell2">B</div>
                <div class = "cell" id = "cell3">C</div>
           </div>

            <div class="row2">
                <div class = "cell" id = "cell4">D</div>
                <div class = "cell" id = "cell5">E</div>
                <div class = "cell" id = "cell6">F</div>
            </div>
            <div class="row3">
                <div class = "cell" id = "cell7">G</div>
                <div class = "cell" id = "cell8">H</div>
                <div class = "cell" id = "cell9">I</div>
            </div>
        </div>
    </div>

{% endblock %}